.connect {
  margin-bottom: 250px;

  &__container {
    background: rgba(237, 243, 245, 1);
    height: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    margin: 60px 0 60px 60px;
  }

  &__title {
    color: rgba(51, 51, 51, 1);
    font-family: "Jost";
    font-size: 55px;
    font-weight: 500;
    line-height: 70px;
    text-align: left;
    padding-bottom: 50px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 50px;
  }

  &__input {
    width: 407px;
    height: 50px;
    padding: 12px 0px 12px 0px;
    gap: 10px;
    border: none;
    border-bottom: 1px solid rgba(214, 214, 214, 1);
    opacity: 0px;
    background: transparent;
    outline: none;
  }

  &__image {
    object-fit: cover;
    object-position: center;
    height: 100%;
  }

  &__btn {
    background: rgba(225, 175, 147, 1);
    width: 223px;
    height: 49px;
    border: none;
    color: white;
    font-family: 'Jost';
    font-size: 17px;
    font-weight: 600;
    line-height: 24.57px;
    text-align: center;
  }
}


@media screen and (max-width:768px) {
  .connect {
    margin-bottom: 200px;

    &__container {
      flex-wrap: wrap-reverse;
      height: 939px;
    }

    &__content {
      margin: 40px 40px 40px 40px;
      ;
    }

    &__title {
      font-size: 45px;
    }

    &__form {
      width: 100%;

    }

    &__input {
      width: 100%;
    }

    &__image {
      object-position: top;
      height: 370px;
      width: 100%;
    }

  }
}



@media screen and (max-width:568px) {
  .connect {
    margin-bottom: 180px;

    &__container {
      flex-direction: column-reverse;
      justify-content: start;
      align-items: center;
      height: 939px;
    }

    &__content {
      margin: 40px 16px 16px 16px;
    }

    &__title {
      font-size: 30px;
      padding-bottom: 30px;
    }

    &__form {
      width: 100%;
      padding-top: 25px;
    }

    &__input {
      width: 100%;
    }

    &__image {
      object-position: top;
      height: 200px;
      width: 100%;
    }

  }
}