@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a{
    .active{
        color:rgba(225, 175, 147, 1);
      }
}

